/* create an arrow that points right */
div.arrow-right {
	width: 0; 
	height: 0; 
	border-bottom: 4px solid transparent;  /* left arrow slant */
	border-top: 4px solid transparent; /* right arrow slant */
	border-left: 8px solid #18ba3b; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
}

body table:first-of-type tr:nth-of-type(3) td table tr:nth-child(3n+1) td:first-of-type {
	width: 3%;
}

body table:first-of-type tr:nth-of-type(3) td table tr:nth-child(3n+1) td:nth-of-type(2) {
	width: 2%;
}

body table:first-of-type tr:nth-of-type(3) td table tr:nth-child(3n+1) td:nth-of-type(3) {
	width: 5%;
}

body table:first-of-type tr:nth-of-type(3) td table tr:nth-child(3n+1) td:last-of-type {
	/*width: 75%;*/
}
